.super-mario {
    width: 200px;
    position: absolute;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    bottom: 430px;
    left: 50px;
  }
  
  .baloon {
      position: absolute;
      left: 350px;
  
  }
  
  .speach {
    font-size: 25px;
  }
  
  .bowser {
    width: 400px;
    position: absolute;
    top: 200px;
    right: 250px;
  }